body, h1, h2, ul, li {
    margin: 0;
    padding: 0;
}

/* Basic styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #009688;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    z-index: 1000;
   
}



nav ul {
    list-style-type: none;
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 80px; /* adjust this value based on your header height */
    width: 100%;
    z-index: 1000;
   
   
}

nav li {
    float: left;
}

.like {
    color: red;
    cursor: pointer;
    margin-top: 8px;
    margin-left: 12px;
    font-size: 20px;
    background-color: black;
    width: 50px;
    text-align: center;
    border-radius: 10px;

}

.like:hover{
    box-shadow: 0 0 5px red,0 0 25px red,0 0 5px cyan,0 0 1px cyan,0 0 0px cyan;

}



nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #555;
    color: white;
    transition: background-color 0.3s;
    
}

#login {
    margin-left: 1200px;
    margin-top: 12px;
    font-family: Arial, sans-serif;
  }

  #login:hover {
    background-color: #555;
    width: 50px;
  }

  .login {
    float:right

  }

  .login a{
    background-color: #009688;
    color: white;
    border: none;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 4px;
    cursor: pointer;
    border-radius: 5px;
  }

  .start {
    background-color: black;
    margin-top: 130px;
    text-align: center;
    padding: 60px;
    color: #f0f0f0;
    font-family: Arial, sans-serif;
     
  }

  .start h1{
    position: relative;
    bottom: 0px;
    font-size: 60px;
  }

  .start h3{
    color: #009688;
    position: relative;
    bottom: 15px;
    letter-spacing: 5px;
  }

  .start button{
    background-color: white;
    color: #009688;
    position: relative;
    bottom: 0px;
    padding: 10px 40px;
    border-radius: 10px;
    border: none;
  }

  .start button:hover{
    box-shadow: 0 0 5px cyan,0 0 25px cyan,0 0 5px cyan,0 0 1px cyan,0 0 0px cyan;
    background-color:black;
    transition: 0.30s;
  }

  .start button a:hover{
    color: whitesmoke;

  }

  .start a{
    text-decoration: none;
    font-size: 16px;
    font-family: Arial, sans-serif;
    letter-spacing: 5px;
    color: black;
    transition: 0.10s;
    
  }

  div.html{
    background-color: transparent;
    margin-top: 10px;
    padding-bottom: 30px;
    text-align: center;
    
  }

  div.html h1{
    color: black;
    font-size: 80px;
    letter-spacing: 5px;
    text-align: center;
    position: relative;
    top: 20px;
    

  }

  div.html h3{
    color: black;
    text-align: center;
    position: relative;
    bottom: 0px;
    
  }

  div.html button{
    background-color: #009688;
    border: none;
    padding: 10px 40px;
    border-radius: 10px;
    position: relative;
    top: 20px;

  }

  div.html a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    letter-spacing: 3px;
    
  }

  div.html button:hover{
   background-color: #333;
   box-shadow: 0 0 5px cyan,0 0 25px cyan,0 0 70px cyan,0 0 70px cyan,0 0 0px cyan;
   transition: 1s;
  }

  div.html a:hover{
    color: #f0f0f0;
    transition: 0.10s;
  }

  div.output1{
    background-color: transparent;
    margin-top: 2px;
    padding-bottom: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  div.output2 {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    margin-top: 50px;
    width: 350px;
    height: 380px;
    box-shadow: 0 5px 5px grey, 0px 0px 20px gray;
    border-radius: 5px;
    
    
  }

  #code-editor{
    width: 300px;
    height: 250px;
    position: relative;
    left: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
    background-color: rgb(237, 214, 184);
    border-radius: 5px;
    
    
}

div.try{
  text-align: center;
  background-color: #009688;
  width: 170px;
  height: 28px;
  text-align: center;
  margin-top: 17px;
  position: relative;
  left: 20px;
  border-radius: 10px;
}

div.try a{
 width: 2000px;
 font-family:Verdana, Geneva, Tahoma, sans-serif;
 position: relative;
 top: 3px;
 font-size: 14px;
 
}

div.try:hover{
  background-color: #333;
  transition: 0.30s;
  letter-spacing: 0px;

}

div.css {
  background-color: black;
  margin-top: 40px;
  height: 750px;
  text-align: center;
  position: relative;
  bottom: 330px;
}

div.css h1{
  color: #ccc;
  font-size: 110px;
  letter-spacing: 5px;
  position: relative;
  top: 20px;
}

div.css h3{
  color: #009688;
  
}

div.css button{
  background-color: #ccc;
  border: none;
  padding: 10px 40px;
  border-radius: 10px;
  position: relative;
  top: 20px;
}

div.css a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  letter-spacing: 3px;
  
}

div.css button:hover{
 background-color: #333;
 box-shadow: 0 0 5px cyan,0 0 25px cyan,0 0 5px cyan,0 0 1px cyan,0 0 0px cyan;
 transition: 1s;
}

div.css a:hover{
  color: #f0f0f0;
  transition: 0.10s;
}

div.css-output1{
  background-color: transparent;
  margin-top: 2px;
  padding-bottom: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
}

div.css-output2{
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: white;
  margin-top: 50px;
  width: 350px;
  height: 440px;
  box-shadow: 0 0px 0px grey, 0px 0px 10px gray;
  border-radius: 5px;
  
   
  
}

#css-editor{
  width: 310px;
  height: 310px;
  position: relative;
  left: 20px;
  top: 10px;
  border: 1px solid #746b6b;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
  background-color: rgb(237, 214, 184);
  border-radius: 5px;

}

div.css-try{
  text-align: center;
  background-color: #009688;
  width: 170px;
  height: 28px;
  text-align: center;
  margin-top: 20px;
  position: relative;
  left: 20px;
  border-radius: 10px;
}

div.css-try a{
  width: 2000px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  top: 3px;
  font-size: 14px;
  
 }

 div.css-try:hover{
  background-color: #333;
  transition: 0.30s;
  letter-spacing: 0px;

}

div.javascript{
  background-color: rgb(216, 238, 252);
  margin-top: 0px;
  text-align: center;
  position: relative;
  bottom: 320px;
  height: 710px;
  
  
}

div.javascript h1{
  color: black;
  font-size: 70px;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  top: 30px;
 

}

div.javascript h3{
  color: black;
  position: relative;
  top: 20px;
}

div.javascript button{
  background-color: rgb(66, 66, 202);
  border: none;
  padding: 10px 40px;
  border-radius: 10px;
  position: relative;
  top: 30px;
}

div.javascript a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  letter-spacing: 3px;
  
}

div.javascript button:hover{
 background-color: #333;
 box-shadow: 0 0 5px rgb(125, 133, 133),0 0 25px rgb(101, 105, 105),0 0 5px rgb(119, 126, 126),0 0 1px rgb(117, 121, 121),0 0 0px cyan;
 transition: 1s;
}

div.javascript a:hover{
  color: #f0f0f0;
  transition: 0.10s;
}

div.java-output1{
  background-color: transparent;
  margin-top: 2px;
  padding-bottom: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
}

div.java-output2{
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: white;
  margin-top: 50px;
  width: 390px;
  height: 440px;
  box-shadow: 0 5px 5px grey, 0px 0px 20px gray;
  border-radius: 5px;
   
  
}

#java-editor{
  width: 350px;
  height: 310px;
  position: relative;
  left: 20px;
  top: 10px;
  border: 1px solid #746b6b;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
  background-color: rgb(237, 214, 184);
  border-radius: 5px;

}

div.java-try{
  text-align: center;
  background-color: rgb(66, 66, 202);
  width: 170px;
  height: 28px;
  text-align: center;
  margin-top: 20px;
  position: relative;
  left: 20px;
  border-radius: 10px;
}

div.java-try a{
  width: 2000px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  top: 3px;
  font-size: 14px;
  color: wheat;
  
 }

 div.java-try:hover{
  background-color: #333;
  transition: 0.30s;
  letter-spacing: 0px;

}


div.python{
  background-color: rgb(252, 227, 231);
  margin-top: 10px;
  text-align: center;
  position: relative;
  bottom: 320px;
  height: 710px;
  
  
}

div.python h1{
  color: black;
  font-size: 70px;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  top: 30px;
 

}

div.python h3{
  color: black;
  position: relative;
  top: 20px;
}

div.python button{
  background-color: palevioletred;
  border: none;
  padding: 10px 40px;
  border-radius: 10px;
  position: relative;
  top: 30px;
}

div.python a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  letter-spacing: 3px;
  
}

div.python button:hover{
 background-color: #333;
 box-shadow: 0 0 5px rgb(125, 133, 133),0 0 25px rgb(101, 105, 105),0 0 5px rgb(119, 126, 126),0 0 1px rgb(117, 121, 121),0 0 0px cyan;
 transition: 1s;
}

div.python a:hover{
  color: #f0f0f0;
  transition: 0.10s;
}

div.python-output1{
  background-color: transparent;
  margin-top: 2px;
  padding-bottom: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
}

div.python-output2{
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: white;
  margin-top: 50px;
  width: 390px;
  height: 440px;
  box-shadow: 0 5px 5px grey, 0px 0px 20px gray;
  border-radius: 5px;
   
  
}

#python-editor{
  width: 350px;
  height: 310px;
  position: relative;
  left: 20px;
  top: 10px;
  border: 1px solid #746b6b;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
  background-color: rgb(237, 214, 184);
  border-radius: 5px;

}

div.python-try{
  text-align: center;
  background-color: palevioletred;
  width: 170px;
  height: 28px;
  text-align: center;
  margin-top: 20px;
  position: relative;
  left: 20px;
  border-radius: 10px;
}

div.python-try a{
  width: 2000px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  top: 3px;
  font-size: 14px;
  color: black;
  
 }

 div.python-try:hover{
  background-color: #333;
  transition: 0.30s;
  letter-spacing: 0px;

}

@media screen and (max-width: 600px) {

  body{
    font-size: 14px;
  }
  nav ul {
    display: flex;
    list-style-type: none;
    overflow-x: scroll;
    flex-wrap: nowrap;
    
  }
  
  nav li {
    margin-right: 32px; /* Adjust the spacing as needed */
  }
}

  
   

  














 














  

  

 

  
